################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SimpleSocket/.vs/SimpleSocket/v16
/SimpleSocket/build/net5.0
/SimpleSocket/Src/5.0/SimpleTcp/obj
